<div class="footer">
    <div class="footer-con">
        <ul class="footer-info">
            <li class="info-list info-list1">
                <div class="info-listweight">服务热线</div>
                <div>010-68336933</div>
                <div>400-030-8999</div>
            </li>  
            <li class="info-list">
                <div class="info-listweight"><a href="/product">产品及服务</a></div>
                <div><a href="/product#hdmp">HDMP</a></div>
                <div><a href="/product#dau">医盟通</a></div>
                <div><a href="product#health">医健宝</a></div>
            </li> 
            <li class="info-list">
                <div class="info-listweight"><a href="/solution">解决方案</a></div>
                <div><a href="/solution#phm">社区健康管理服务</a></div>
                <div><a href="/solution#mtph">社区医疗卫生服务</a></div>
                <div><a href="/solution#careproduct">社区保健品经销</a></div>
                <div><a href="/solution#aged">社区养老服务</a></div>
                <div><a href="/solution#hospital">医院及医疗机构</a></div>   
            </li> 
            <li class="info-list">
                <div class="info-listweight"><a href="/about-us">关于我们</a></div>
                <div><a href="/about-us#story">我们的故事</a></div>
                <div><a href="/about-us#news">公司动态</a></div>
                <div><a href="/about-us#contact">联系我们</a></div>
            </li> 
        </ul>
        <div class="QR-code"><img src="/image/homepage/qr-code.png"/><p>关注奥芬</p></div>
        <div class="bottom-info">
            <div>Corpyright © 奥芬健康 2007-2017, All Rights Reserved.</div>
            <div>京ICP证09015382号</div>
        </div>
    </div>
</div>