.contact {
  width: 1020px;
  height: 100%;
}
.contact-img {
  position: absolute;
  margin-top: -165px;
  margin-bottom: 35px;
  margin-left: -25px;
}
.contact-address {
  width: 1020px;
  height: 425px;
  //background: #ccc;
  margin-top: 200px;
}
.contact-address .address {
  margin-left: 40px;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 30px;
}
.contact-address .address .address-title {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  line-height: 34px;
}
.contact-address .map {
  position: absolute;
  margin-top: -218px;
  margin-left: 450px;
}
