<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>奥芬蜂巢健康管理平台</title>
    <link href="/css/commonaboutus.css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
    {% block commonaboutus %}
    <div class="story">
        <img src="/image/homepage/aboutue.png" class="aboutus"/>
        <div class="tell-story">
            奥芬云健康科技（北京）有限公司全力打造奥芬健康网技术平台，秉承“让关爱和维护健康变得的更简单”，全新塑造“专业的互联网+健康服务平台”商业模式，立足POC™机构的运营需求，创造性的研发对口TOWN系列高级CRM系统，助其互联网化，迎接行业电子商务的新潮流。同时，大力发展及完善医疗服务接待体系、专病远程会诊体系、VIP健康安防体系，以及助力国家等级医疗的“家庭医生”工程，从而顺应国家医改需求与方向，协助政府改善并逐步解决老百姓“看病难”的问题。 
        </div>
        <img src="/image/homepage/team.png" class="team"/>
        <div class="header-box">
            <img src="image/homepage/header.png" class="header"/>
            <div class="header-info">
                <p class="header-position"><span class="header-name">郑健</span>董事长</p>
                <p class="header-duty">专注于“专业的互联网+健康服务平台”的打造</p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>