<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>奥芬蜂巢健康管理平台</title>
    <link href="/css/commoncontact.css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
    {% block commoncontact %}
       <div class="contact">
                <img src="/image/homepage/contact.png" class="contact-img"/>
                <div class="contact-address">
                    <div class="address">
                        <p class="address-title">奥芬云健康科技（北京）有限公司</p>
                        <p>公司地址：北京市西城区广义街5号广益大厦A610</p>
                        <p>总机：010-68336933</p>
                        <p>传真：010-68336933-810</p>
                        <p>邮编：100053</p>
                    </div>
                    <img src="/image/homepage/map.png" class="map"/>
                </div>
                </div>
    {% endblock %}
</body>
</html>