{% extends "_layout.html" %}
{% block head %}
<title>奥芬蜂巢健康管理平台</title>
<link rel="shortcut icon" href="/image/homepage/offen.ico"/>
<link href="/css/news-detail1.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/tab.js"></script>
{% endblock %}
{% block header %}
<ul class="homemenu-list">
    <li>我们的故事</li>
    <li>新闻动态</li>
    <li>关于我们</li>
</ul>
{% endblock %}
{% block content %}
<div class="tabs">
    <ul class="tabbox">
		<li class="tab"><a href="/about-us#story">我们的故事</a></li>
		<li class="tab"><a href="/about-us#news">新闻动态</a></li>
		<li class="tab"><a href="/about-us#contact">联系我们</a></li>
	</ul>
    <div id="tab-1">{% include "commonaboutus.html" %}</div>
	<div id='tab-2'>
        <div class="news-detail">
                    <img src="/image/homepage/detail.png" class="detail-img"/>
                    <p class="detail-title">首都名医俱乐部 全国经典100健康财富分享会议”在京顺利召开</p>
                    <p class="detail-time">2017-01-10</p>
                    <p>2016年12月9日下午，奥芬盈科“全国经典100健康财富分享会议”在北京召开，来自西北、四川成都、大连、广州、东莞等全国各地健康产业的部分业内人士及对医殿堂项目感兴趣的人士纷纷积极参会并共同商讨健康财富合作计划。</p>                
                    <p>首先，奥芬盈科，首都名医俱乐部发起人边放就经典100项目做了详细讲解，“医殿堂”健康管理金标准生态体系平台，致力于专属高端人士的殿堂式金标准健康管理生态工程。正是一家荟萃医学专家及整合国内高级医疗资源，通过专业健康管理团队，为社会精英人群提供从预防问题、发现问题到解决问题的一站式专业的高端私人医生服务机构。“医殿堂”立足于“互联网+”领域，结合移动医疗技术和独有的健康大数据优势，将成为在线服务，移动健管和数字医疗专家。</p>
                    <img src="/image/homepage/detail3.jpg" class="detail1-img"/>
                    <p class="last-info">来自全国各地健康产业业内人士认真听讲，积极参与交流，就利用现有资源及根据医殿堂健康管理项目如何开展合作展开深入探讨。奥芬盈科将与全国各地致力于健康产业的精英联手打造行业领域健康管理金标准生态体系平台。</p>
        </div>
    </div>
    <div id="tab-3">{% include "commoncontact.html" %}</div>
 </div>
{% endblock %}