{% extends "_layout.html" %}
{% block head %}
<title>奥芬蜂巢健康管理平台</title>
<link rel="shortcut icon" href="/image/homepage/offen.ico"/>
<link href="/css/news-detail1.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/tab.js"></script>
{% endblock %}
{% block header %}
<ul class="homemenu-list">
    <li>我们的故事</li>
    <li>新闻动态</li>
    <li>关于我们</li>
</ul>
{% endblock %}
{% block content %}
    <div class="tabs">
    <ul class="tabbox">
		<li class="tab"><a href="/about-us#story">我们的故事</a></li>
		<li class="tab"><a href="/about-us#news">新闻动态</a></li>
		<li class="tab"><a href="/about-us#contact">联系我们</a></li>
	</ul>
    <div id="tab-1">{% include "commonaboutus.html" %}</div>
	<div id='tab-2'>
        <div class="news-detail">
                    <img src="/image/homepage/detail.png" class="detail-img"/>
                    <p class="detail-title">“互联网+医养结合”智慧养老年度创新论坛在西安顺利召开</p>
                    <p class="detail-time">2017-01-10</p>
                    <p>“互联网+医养结合”智慧养老年度创新论坛于2016年11月27日下午2点在西安志诚丽柏酒店召开，论坛由中国电子商务协会健康产业委员会与西安市老龄产业协会联合主办，奥芬云健康科技（北京）有限公司与陕西奥芬医敬堂健康管理有限公司共同承办。</p>               
                    <p>本届论坛边振甲先生、李志海先生、鱼敏教授、卢建新先生、郑健先生、刘征先生等一批著名大健康领域及医学领域的专家学者，以及有关部委的领导、地方相关领导及媒体界人士200余人参加了本届论坛。论坛开幕式由中国电子商务协会健康产业委员会白磊主任、西安市老龄产业协会王明华会长分别上台致辞。在论坛中，健康营养学界和医学领域等多位专家围绕“中国养老状况及政策解读”、“养老与慢病管理”、“中外医疗保障体制对比与启示”、“打造银色互联网”“互联网+医养结合智慧养老模式解读”等议题作精彩发言，并展开热烈讨论。</p>
                    <p>本次智慧养老年度创新论坛主题是打造医敬堂“健康幸福快乐医养小镇”，会上郑健先生详细的介绍了如何利用先进的物联网、互联网技术，为养老带来高效便捷的综合性服务，使“关爱和维护健康变得更简单”。本次论坛选择“健康幸福快乐医养小镇”作为主题，既顺应了中国经济发展的现实需求，也将对深化中国城市转型发展的理论研究具有重要的推动作用。</p>
                    <img src="/image/homepage/detail2.jpg" class="detail1-img"/>
                    <p>当天上午奥芬“医敬堂-医养小镇”项目开业仪式在刘征董事长主持下圆满成功。与会专家和学者领导们，共同前往西安市高新技术开发区的奥芬“医敬堂-医养小镇”莅临祝贺同时还参观了“医敬堂-医养小镇”。并对店内葆一堂中医检测、水谷阁营养配餐、舒畅园肝胆排毒及肠道水疗等设备、设施环境及围绕中老年人全面提供生活起居、精神慰藉、日间照料、医疗援助、养老敬护师培训等一站式专业服务解决方案做出肯定。</p>
                    <p>与会专家和代表认为，本项目是为贯彻落实全面建设小康社会，根据《民政事业发展第十三个五年规划》中关于“重点发展医养结合型养老机构，提高养老服务有效供给”工作部署的重要举措。奥芬健康旗下“医敬堂-医养小镇”项目的设立，体现了奥芬健康与时俱进的发展理念，符合养老服务领域急需与专业化医疗资源相融合的发展趋势，更体现了社会组织认真落实国家相关政策、积极作为的社会责任感。</p>
                    <p class="last-info">相信奥芬健康旗下打造的全国连锁“医敬堂-医养小镇”项目定能解决追求健康、快乐、品质中老年生活的迫切需求，抓住老龄化社会带来的养老服务这一“朝阳产业”的重大机遇，服务大健康、共圆健康中国梦。</p>
        </div>
    </div>
    <div id="tab-3">{% include "commoncontact.html" %}</div>
</div>
{% endblock %}