{% extends "_layout.html" %}
{% block head %}
<title>奥芬蜂巢健康管理平台</title>
<link rel="shortcut icon" href="/image/homepage/offen.ico"/>
<link href="/css/product.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="js/jquery.tabslet.min.js"></script>
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/line.js"></script>
{% endblock %}
{% block content %}
    <div class="tabs">
        <ul class="tabbox">
		<li class="tab"><a href="#tab-1">HDMP</a></li>
		<li class="tab"><a href="#tab-2">医盟通</a></li>
		<li class="tab"><a href="#tab-3">医健宝</a></li>
	    </ul>
        <div id='tab-1'>
            <div class="hdmp">
                        <div class="hdmp-title">奥芬蜂巢 HDMP</div>
                        <div class="hdmp-info">POC 健康数据化运营管理解决方案</div>
                        <ul class="cloud">
                            <li class="cloudBox">
                                <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                                <img src="/image/homepage/cloud.png"/>
                                <p class="cloud-name">应用云</p>
                                <p class="english-name">Engagement Cloud </p>
                                <p>专业的健康/医疗服务定义</p>
                                <p>场景化业务流程优化</p>
                                <p>科学精确的业务数据采集</p>
                                <p>专注与消费者的精准转化</p>
                            </li>
                            <li class="cloudBox">
                                <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                                <img src="/image/homepage/cloud.png"/>
                                <p class="cloud-name">营销云</p>
                                <p class="english-name">Marketing Cloud </p>
                                <p>全方位的营销手段</p>
                                <p>全渠道的内容触达</p>
                                <p>以消费者为中心的精准投放</p>
                                <p>让品牌更有价值</p>
                            </li>
                            <li class="cloudBox">
                                <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                                <img src="/image/homepage/cloud.png"/>
                                <p class="cloud-name">服务云</p>
                                <p class="english-name">Service Cloud </p>
                                <p>开放式的平台架构让系统集成更简单</p>
                                <p>专业的服务架构让业务组织更灵活</p>  
                            </li>
                            <li class="cloudBox">
                                <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                                <img src="/image/homepage/cloud.png"/>
                                <p class="cloud-name">分析云</p>
                                <p class="english-name">Analysis Cloud </p>
                                <p>全方位的数据采集</p>
                                <p>专注与医疗健康领域的数据建模</p>
                                <p>多年的数据化营销算法</p>
                                <p>数据资产增值计划</p>
                            </li>
                            <li class="cloudBox">
                                <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                                <img src="/image/homepage/cloud.png"/>
                                <p class="cloud-name">协作云</p>
                                <p class="english-name">Partner Cloud </p>
                                <p>业务人员不再是单兵作战</p>
                                <p>让专业的人更专注</p>
                                <p>协作让运营成本降到最低</p>
                            </li>
                        </ul>
                    </div>
        </div>
        <div id='tab-2'>
             <div class="dau">
                       <img src="/image/homepage/dau.png" class="dau-img"/>
                       <img src="/image/homepage/dau-show.png" class="dau-show"/>
                       <ul class="dau-list">
                           <li class="topColor">
                              <p class="dau-title">专科联盟</p>
                              <p class="dau-info">由国内各专科权威专家为主导成立，相关医生提交申请加入，最终形成联盟组织（例如：心血管联盟等）</p>
                           </li>
                           <li class="topColor">
                              <p class="dau-title">管理委员会</p>
                              <p class="dau-info">由本专科行业内的权威专家们成立联盟管理委员会，医盟通PC及手机软件系统主要实现委员会的管理、审批等智能</p>
                           </li>
                           <li class="topColor">
                              <p class="dau-title">公益活动</p>
                              <p class="dau-info">由以城市为单位的代理商会同联盟管理委员会一道，定期步定期组织学术交流、公益活动（义诊、会诊）等</p>
                           </li>
                           <li class="topColor">
                              <p class="dau-title">目标</p>
                              <p class="dau-info">最终实现“权威专家有粉丝，相关医生有组织”</p>
                           </li>
                           <li class="topColor">
                              <p class="dau-title">目的</p>
                              <p class="dau-info">权威专家面对大众的公益展示窗口，爱现厂商进行爱心公益的平台，爱心大使爱心呼吁的平台</p>
                           </li>
                       </ul>
                   </div> 
        </div>
        <div id='tab-3'>
            <div class="health">
                         <img src="/image/homepage/health.png" class="health-img"/>
                         <ul class="health-list">
                            <li class="healthBox">
                                <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                               <img src="/image/homepage/health1.png"/>
                               <p>预约挂号</p>
                            </li>
                            <li class="healthBox">
                               <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                               <img src="/image/homepage/health2.png"/>
                               <p>健康档案</p>
                            </li>
                            <li class="healthBox">
                                <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                               <img src="/image/homepage/health3.png"/>
                               <p>急救卡</p>
                            </li>
                            <li class="healthBox">
                               <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                               <img src="/image/homepage/health4.png"/>
                               <p>名医就诊</p>
                            </li>
                            <li class="healthBox">
                               <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                               <img src="/image/homepage/health5.png"/>
                               <p>智能康护</p>
                            </li>
                            <li class="healthBox">
                               <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                               <img src="/image/homepage/health6.png"/>
                               <p>健康商城</p>
                            </li>
                            <li class="healthBox">
                               <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                               <img src="/image/homepage/health7.png"/>
                               <p>健康百科</p>
                            </li>
                            <li class="healthBox">
                                <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                               <img src="/image/homepage/health8.png"/>
                               <p>家人关怀</p>
                            </li>
                            <li class="healthBox">
                               <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                               <img src="/image/homepage/health9.png"/>
                               <p>电子处方</p>
                            </li>
                            <li class="healthBox">
                               <div class="top"></div>
                                <div class="right"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                               <img src="/image/homepage/health10.png"/>
                               <p>健康直播</p>
                            </li>
                         </ul>
                    </div>
        </div>
    </div>
{% endblock %}